.logo-font {
  font-size: 64px;
  font-weight: 700;
}

.primary-color {
  color: #0c727d !important;
}

.secondary-color {
  color: #7ac7cd;
}

.primary-bg {
  background-color: #0c727d;
}

.secondary-bg {
  background-color: #7ac7cd;
}

.icon-color {
  color: #6c757d;
}

.text-color {
  color: #8391a2 !important;
}

.btn-primary {
  background-color: #0c727d !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #366065 !important;
  border: none !important;
}

.btn-secondary {
  background-color: #7ac7cd !important;
  border: none !important;
}

.page-item.active .page-link {
  background-color: #0c727d !important;
  color: white !important;
}

.btn-secondary:hover {
  background-color: #366065 !important;
  border: none !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.bg-color-dashboard {
  background-color: #fafbfe;
}

.sidebar-link {
  background-color: #fafbfe !important;
}

.body {
  font-weight: bold;
  font-family: Roboto !important;
}

.navigation-item {
  text-decoration: none !important;
  padding: 0%;
  color: #8391a2 !important;
}

.font-36px {
  font-size: 36px;
}

.font-32px {
  font-size: 32px;
}

.font-20px {
  font-size: 20px;
}

.font-16px {
  font-size: 16px;
}

.font-14x {
  font-size: 14px;
}

.sidebar-link {
  color: #8391a2 !important;
  background-color: transparent !important;
}

.sidebar-link:hover, .sidebar-link > i:hover {
  color: white !important;
  background-color: #366065 !important;
}

i {
  color: #6c757d;
}

a {
  text-decoration: none !important;
}

.logout {
  color: #fafbfe;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0c727d;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #366065;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0c727d;
  border-color: #0c727d;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.wrapper, .main {
  background-color: #fafbfe;
}/*# sourceMappingURL=global.css.map */