$font-family: Roboto;

$font-64px: 64px;
$font-32px: 32px;
$font-24px: 24px;
$font-20px: 20px;
$font-18px: 18px;
$font-16px: 16px;
$font-14px: 14px;

$fh-regular: 400;
$fh-semi-bold: 600;
$fh-bold: 700;

$nav-bg-color: #313a46;
$primary-color: #0c727d;
$primary-hover-color: #366065;
$secondary-color: #7ac7cd;
$text-color: #8391a2;

$dashboard-bg-color: #fafbfe;
$dashboard-font-color: #8391a2;
$card-bg-color: #ffffff;
$icon-bg-color: #6c757d;

$font-family: Roboto;

.logo-font {
  font-size: $font-64px;
  font-weight: $fh-bold;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.primary-bg {
  background-color: $primary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}

.icon-color {
  color: $icon-bg-color;
}

.text-color {
  color: $text-color;
}

.btn-primary {
  background-color: $primary-color !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: $primary-hover-color !important;
  border: none !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.bg-color-dashboard {
  background-color: $dashboard-bg-color;
}

.sidebar-link {
  background-color: $dashboard-bg-color !important;
}

.body {
  font-weight: bold;
  font-family: $font-family !important;
}

.navigation-item {
  text-decoration: none !important;
  padding: 0%;
  color: $text-color !important;
}

.font-20px {
  font-size: $font-20px;
}

.font-16px {
  font-size: $font-16px;
}

.font-14x{
  font-size: $font-14px;
}

i {
  color: $icon-bg-color;
}

li {
  background-color: $primary-color;
}

li:hover {
  background-color: $primary-hover-color;
}

li:hover > i {
  color: white;
}

li:hover > a > span {
  color: white;
}

a{
  text-decoration: none !important;
}

.logout{
  color: $dashboard-bg-color;
}