$font-family: Roboto;

$font-64px: 64px;
$font-32px: 32px;
$font-24px: 24px;
$font-20px: 20px;
$font-18px: 18px;
$font-16px: 16px;
$font-14px: 14px;

$fh-regular: 400;
$fh-semi-bold: 600;
$fh-bold: 700;

$nav-bg-color: #313a46;
$primary-color: #0c727d;
$primary-hover-color: #366065;
$secondary-color: #7ac7cd;
$text-color: #8391a2;

$dashboard-bg-color: #fafbfe;
$dashboard-font-color: #8391a2;
$card-bg-color: #ffffff;
$icon-bg-color: #6c757d;

.logo-font {
  font-size: $font-64px;
  font-weight: $fh-bold;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.primary-bg {
  background-color: $primary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}

.icon-color {
  color: $icon-bg-color;
}

.text-color{
  color: $text-color;
}

.btn-primary {
  background-color: $primary-color !important;
}

.btn-primary:hover {
  background-color: $primary-hover-color !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.bg-color-dashboard {
  background-color: $dashboard-bg-color;
}
